@page
@model CoreCrud.Pages.Athletes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div align="center">
    <h2>Details of @Html.DisplayFor(model => model.Athlete.Name)</h2>
    <hr />
    <table cellpadding="10" cellspacing="20">
        <tbody>
            <tr>
                <td> @Html.DisplayNameFor(model => model.Athlete.Name)</td>
                <td>  @Html.DisplayFor(model => model.Athlete.Name)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.Athlete.DOB)</td>
                <td>  @Html.DisplayFor(model => model.Athlete.DOB) </td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.Athlete.HasWonTitles)</td>
                <td>@Html.DisplayFor(model => model.Athlete.HasWonTitles)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.Athlete.GamesWonPercentage)</td>
                <td> @Html.DisplayFor(model => model.Athlete.GamesWonPercentage)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.Athlete.Rank)</td>
                <td> @Html.DisplayFor(model => model.Athlete.Rank)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.Athlete.Country)</td>
                <td> @Html.DisplayFor(model => model.Athlete.Country.Name)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Athlete.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
