@page
@model FinalProject.Pages.UserBooks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details of the User profile</h1>

<div>
    <h4>UserBook</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserBook.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserBook.Book.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserBook.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserBook.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserBook.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserBook.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserBook.FeeAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserBook.FeeAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserBook.CheckoutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserBook.CheckoutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserBook.CheckInDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserBook.CheckInDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserBook.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
