@page
@model CoreCrud.Pages.Countries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<center>
    <h2>List of countries</h2>
    <div>
        <p>Check out this comprehensive list of the nations from where the athletes hail from.</p>
        <p><a asp-page="Create">Create New Entry</a></p>
    </div>
    <hr class="dotted"/>
    <div>
        <img width="800" src="https://rfclipart.com/image/big/c7-16-f4/collection-of-grunge-posters-with-tennis-players-Download-Royalty-free-Vector-File-EPS-108721.jpg" alt="TennisPlayers" />
    </div>
</center>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country[0].Population)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Country) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Population)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
