@page
@model RosterModel
@{
    ViewData["Title"] = "Roster";
}
    <center>
        <h1>Roster</h1>
        <div>
            <img width="800" src="https://rfclipart.com/image/big/c7-16-f4/collection-of-grunge-posters-with-tennis-players-Download-Royalty-free-Vector-File-EPS-108721.jpg" alt="TennisPlayers" />
        </div>
    </center>
<br />
<hr/>
<table class="table ttable-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Percentage Won</th>
            <th>Won Grand Slam</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @Model
        @foreach (var athlete in Model.Athletes)
        {
                <tr>
                    <td>@athlete.Name</td>
                    <td>@athlete.Rank</td>
                    <td>@athlete.GamesWonPercentage</td>
                    <td>@athlete.AthleteAgeBar</td>
                    <td>@athlete.Country.Name</td>
                </tr>
        }

    </tbody>
</table>

